image-viewer {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;

  header.controls {
    padding: 0.5rem;
    background: #f0f0f0;
    border-bottom: 1px solid #ccc;
  }

  figure {
    margin: 0;
    width: 100%;
    height: calc(100% - 40px); /* adjust if header changes height */
    overflow: clip;
    position: relative;
    cursor: grab;

    &.dragging {
      cursor: grabbing;
    }

    img {
      display: block;
      user-select: none;
      pointer-events: none;
      transform-origin: top left;
      will-change: transform;
    }
  }
}
