zoomable-image {
  cursor: grab;
}

zoomable-image:active {
  cursor: grabbing;
}


body {
  background-color: cadetblue;
  zoomable-image {
    background-color: white;
    outline: 2px dashed silver;
  }
}